@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.q-dropdown:hover .q-dropdown-menu {
  display: block;
}

.disable-tailwind {
  all: unset;
}

.post-container .post-container > blockquote,
.post-container > dl,
.post-container > dd,
.post-container > h1,
.post-container > h2,
.post-container > h3,
.post-container > h4,
.post-container > h5,
.post-container > h6,
.post-container > hr,
.post-container > figure,
.post-container > p,
.post-container > pre {
  margin: revert;
}

.post-container > ol,
.post-container > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.post-container > table {
  border-collapse: revert;
}

.post-container > h1,
.post-container > h2,
.post-container > h3,
.post-container > h4,
.post-container > h5,
.post-container > h6 {
  font-size: revert;
  font-weight: revert;
}

.post-container > p > a {
  all: revert;
}

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-editor__editable {
  min-height: 200px;
}
