@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.q-dropdown:hover .q-dropdown-menu {
  display: block;
}

.disable-tailwind {
  all: unset;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 700,
    "GRAD" 200,
    "opsz" 48;
}
.material-fill {
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 200,
    "opsz" 48;
}

.post-container .post-container > blockquote,
.post-container > dl,
.post-container > dd,
.post-container > h1,
.post-container > h2,
.post-container > h3,
.post-container > h4,
.post-container > h5,
.post-container > h6,
.post-container > hr,
.post-container > figure,
.post-container > p,
.post-container > pre {
  margin: revert;
}

.post-container > ol,
.post-container > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.post-container > table {
  border-collapse: revert;
}

.post-container > h1,
.post-container > h2,
.post-container > h3,
.post-container > h4,
.post-container > h5,
.post-container > h6 {
  font-size: revert;
  font-weight: revert;
}

.post-container > p > a {
  all: revert;
}

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-editor__editable {
  min-height: 200px;
}

@property --angle {
  inherits: true;
  initial-value: 0deg;
  syntax: "<angle>";
}

#prem {
  --angle: 0;
  animation: rotate-gradient 2s infinite linear;
  animation-play-state: running;
}

#prem:hover {
  animation-play-state: running;
}

#prem {
  --gradient: conic-gradient(
    from calc(180deg + var(--angle)),
    white 0deg,
    #c70039 90deg,
    white 1turn
  );
}

@keyframes rotate-gradient {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

#prem {
  color: hsl(0 0% 92%);
  background:
    linear-gradient(#c70039, #b23358) padding-box,
    var(--gradient) border-box;
  border: 7px solid transparent;
}

p {
  text-align: left;
  margin: 0;
}
